.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Click {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Click button {
  background: #16072b;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.Click button:hover {
  background: #6616d0;
}

.Click-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Click-btn button {
  background: #16072b;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 26px;
  border-radius: 16px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.Click-btn button:hover {
  background: #6616d0;
}
